boto3==1.24.84
botocore-stubs==1.27.86
dill==0.3.5.1
dnspython==2.2.1
evidently==0.1.58.dev0
fastapi==0.78.0
from-root==1.0.2
httptools==0.5.0
imblearn==0.0
Jinja2==3.1.6
neuro-mf==0.0.5
numpy==1.21.6
pandas==1.3.5
pydantic==1.10.26
pymongo==4.2.0
python-dotenv==0.21.0
python-multipart==0.0.8
PyYAML==5.4.1
requests==2.31.0
scikit-learn==1.0.2
scipy==1.7.3
starlette==0.19.1
types-s3transfer==0.6.0.post4
typing_extensions==4.7.1
uvicorn==0.18.3
urllib3==1.26.20
watchfiles==0.17.0
websockets==10.3
wincertstore==0.2
xgboost==1.6.2